

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">ERROR!!!:</span>
  ID: {{ id_noEncontrado }} no encontrado en la base de datos.
</div>
