<table class="table table-hover table-sm">
  <thead>
    <tr>
<th scope="col">Id del usuario</th>
      <th scope="col">Nombre del moroso </th>
      <th scope="col"></th>

    </thead>
  <tbody>
  </tr>

  {% for moroso in morosos %}
              <tr>
                  <td>{{ moroso.id }}</td>
                  <td>{{ moroso.nombre }}</td>
                  <td> <a href="{{ path('detalle', {'id':moroso.id})}}"><button type="button" class="btn btn-success"> + info </button></a></td>



              </tr>
  {% endfor %}
  </tbody>
</table>
